<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ApiResourceId>/subscriptions/6b5521b0-160a-435f-9665-f524fa24773d/resourceGroups/PDFMinimalAPI20220902165326ResourceGroup/providers/Microsoft.ApiManagement/service/PDFMinimalAPIapi/apis/htmltopdf</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <ResourceId>/subscriptions/6b5521b0-160a-435f-9665-f524fa24773d/resourceGroups/PDFMinimalAPI20220902165326ResourceGroup/providers/Microsoft.Web/sites/PDFMinimalAPI20220902165326</ResourceId>
    <ResourceGroup>PDFMinimalAPI20220902165326ResourceGroup</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://pdfminimalapi20220902165326.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>fde8ad11-94b5-471a-adfe-f8606826196f</ProjectGuid>
    <PublishUrl>https://pdfminimalapi20220902165326.scm.azurewebsites.net/</PublishUrl>
    <UserName>$PDFMinimalAPI20220902165326</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>